<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot's Ruvunda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body class="bg-gray-100">
<div class="flex h-screen w-full items-center justify-center">
    <div class="grid h-full w-full grid-cols-10 grid-rows-4 gap-4">
        <!-- Section Titre --->
        <div class="col-span-10 row-span-1 flex justify-center items-center">
            <h3 class="text-4xl font-bold text-green-900 uppercase">
                Ruvunga's Chatbot
            </h3>
        </div>
        <!-- Section conversation --->
        <div class="col-span-10 row-span-3 flex justify-center px-4 py-10 overflow-y-auto overscroll-auto">
            <div id="chat-template" class="hidden chat-template">
                <p class="message"></p>
            </div>
            <div id="gpt-output" class="chat-output"></div>
        </div>
        <!-- Section question --->
        <div class="col-span-10 row-span-1 flex justify-center px-4 py-10">
            <form id="prompt-form" class="mt-auto w-8/12">
                <label for="prompt" class="sr-only">Vous</label>
                <div class="relative mt-2 rounded-md shadow-md">
                        <textarea name="prompt" id="prompt"
                                  class="block w-full rounded-md border-0 py-2.5 pl-4 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:shadow-lg sm:text-md sm:leading-6 resize-none"
                                  placeholder="Posez une question" rows="1"></textarea>
                    <button class="send-button">
                        <svg class="hidden" id="spinner-icon" width="24" height="24" fill="#fff"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <style>
                                .spinner_animation { animation: spinner_keyframe .8s linear infinite }
                                .spinner_delay_slow { animation-delay: -.65s }
                                .spinner_delay_fast { animation-delay: -.5s }
                                @keyframes spinner_keyframe { 93.75%, 100% { r: 3px } 46.875% { r: .2px } }
                            </style>
                            <circle class="spinner_animation" cx="4" cy="12" r="3"/>
                            <circle class="spinner_animation spinner_delay_slow" cx="12" cy="12" r="3"/>
                            <circle class="spinner_animation spinner_delay_fast" cx="20" cy="12" r="3"/>
                        </svg>
                        <svg id="send-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"
                             class="h-4 w-4 m-1 md:m-0" stroke-width="2">
                            <path d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z"
                                  fill="currentColor"></path>
                        </svg>
                    </button>
                </div>
            </form>
            <script>
                document.getElementById('prompt').addEventListener('input', function (event) {
                    const textarea = event.target;
                    textarea.style.height = 'auto';
                    textarea.style.height = `${textarea.scrollHeight}px`;
                });
            </script>
        </div>
    </div>
</div>
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="{{url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>